# General
yarn-error.log
node_modules
.DS_STORE

# Foundry files
cache
out
out-via-ir
broadcast/**/run-*.json

# Coverage Reports
coverage-report
lcov.info

# Config files
.env

# Avoid ignoring gitkeep
!/**/.gitkeep
.vscode/

# Docs build files
docs/book
docs/src/src/
docs/src/static

test/testnet/simulations/pid-controller/*

.idea/
