/*
 * Side bar
 */
html.ayu .sidebar {
  border-right: 2px solid var(--border);
}
html.light .sidebar {
  border-right: 2px solid var(--border);
}
.sidebar .sidebar-scrollbox {
  padding: 1.5em 1em;
}
.sidebar .logo {
  width: 80%;
  margin: 0 auto 1.5em auto;
  display: block;
  max-width: 11em;
  aspect-ratio: 4 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: var(--logo-h);
}
.sidebar .chapter {
  margin: 0;
}
.sidebar .chapter li > div {
  color: var(--sidebar-fg);
  cursor: pointer;
}
.sidebar .chapter li > div:hover {
  color: var(--sidebar-active);
}

/*
 * Search bar
 */
#searchbar {
  background: var(--bg);
  border: 2px solid var(--border);
  border-radius: 0;
  padding: 5px 10px;
  outline: none;
  box-shadow: none;
  transition: border-color 300ms ease-in-out;
}
#searchbar:focus,
#searchbar.active,
#searchbar:hover {
  box-shadow: none;
  border-color: var(--border-active);
}

/*
 * Links
 */
a,
#searchresults a,
.content a:link,
a > .hljs {
  text-decoration: underline;
  color: var(--fg);
  font-weight: 500;
}
a:visited {
  color: var(--link-visited);
}

/*
 * Scrollbar
 */
::-webkit-scrollbar {
  width: 5px;
}
