name: Interface Exporter Action

on:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  generate_interfaces:
    if: github.repository == 'open-dollar/od-contracts'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: yarn --frozen-lockfile --network-concurrency 1

      - name: Build project and generate out directory
        run: yarn build

      - name: Add typechain to install dependencies
        run: yarn add typechain @typechain/web3-v1 @typechain/ethers-v6

      - name: Run Interface Exporter Action
        uses: open-dollar/solidity-exporter-action@v1.0.1
        with:
          out_dir: "out"
          typing_type: "ethers-v6"
          package_name: "@opendollar/abis"
          destination_dir: "abis-package"

      - name: Generate canary tag
        if: github.ref_name != 'main'
        run: cd abis-package && yarn version --new-version "0.0.0-${GITHUB_SHA::8}" --no-git-tag-version

      - name: Publish
        run: cd abis-package && npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
